<html>
	<header>
		<link rel="stylesheet" href="css/bootstrap.min.css" 
		<title>Mof</title>
	</header>

  <body>
    <h1>Main</h1>
    <form method="post" action="ingresar">
      <input type="text" id="letra" name="letra"/>
      <input type="submit" value="ingresar"/>
    </form>
    Letra: <%= @letra %>
    Mensaje: <%= @mensaje %>
  </body>
</html>
