<html>
  <body>
    <h1>Main</h1>
    <form method="post" action="ingresar">
      <input type="text" id="letra" name="letra"/>
      <input type="submit" value="ingresar"/>
    </form>
    Letra: <%= @letra %>
    </br>
    Palabra: <%= @estado%>
  </body>
</html>
