<html>
<header><title>This is title</title></header>
<body>
Hello 


<form method="POST" action="/sumar">
  a:<br>
  <input type="text" name="a" value="">
  <br>
  b:<br>
  <input type="text" name="b" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

Total: <%= @c %>



</body>
</html>